body{
    text-align: center;
    background-color: dodgerblue;
}

div{
    margin-top: 15px;
    justify-content: center;
}

.image-section{
    display: flex;
    justify-content: center;
}

.section-style{
    margin-right: 25;
    margin-left: 25;
    background-color: white;
}